Random Forest Classification

In [ ]:
import pandas as pd
data = pd.read_csv('train.csv')
data=data.fillna(0)
data

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]

In [ ]:
features = data.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]].values
target = data.iloc[:,20].values

In [ ]:
from sklearn.model_selection import train_test_split
# splitting training and test data
features_train,features_test,target_train,target_test=train_test_split(features,target,train_size=0.85,random_state=0)
# for checking the values
print(features_train)
print(features_test)
print(target_train)
print(target_test)

[[1.450e+03 0.000e+00 2.100e+00 ... 0.000e+00 1.000e+00 1.000e+00]
 [1.218e+03 1.000e+00 2.800e+00 ... 0.000e+00 0.000e+00 0.000e+00]
 [1.602e+03 0.000e+00 6.000e-01 ... 0.000e+00 1.000e+00 1.000e+00]
 ...
 [1.190e+03 0.000e+00 2.000e+00 ... 0.000e+00 0.000e+00 1.000e+00]
 [1.191e+03 0.000e+00 2.400e+00 ... 1.000e+00 1.000e+00 1.000e+00]
 [7.060e+02 0.000e+00 5.000e-01 ... 1.000e+00 0.000e+00 1.000e+00]]
[[1.454e+03 1.000e+00 5.000e-01 ... 1.000e+00 1.000e+00 0.000e+00]
 [1.092e+03 1.000e+00 5.000e-01 ... 0.000e+00 1.000e+00 0.000e+00]
 [1.524e+03 1.000e+00 1.800e+00 ... 1.000e+00 0.000e+00 1.000e+00]
 ...
 [1.271e+03 0.000e+00 5.000e-01 ... 0.000e+00 1.000e+00 1.000e+00]
 [7.610e+02 1.000e+00 5.000e-01 ... 1.000e+00 1.000e+00 1.000e+00]
 [1.422e+03 0.000e+00 1.000e+00 ... 1.000e+00 1.000e+00 1.000e+00]]
[1 1 3 ... 3 0 1]
[3 0 2 2 2 0 0 3 3 1 1 3 0 2 3 0 3 2 2 1 0 0 3 1 2 2 3 1 3 1 1 0 2 0 1 3 0
 0 3 3 3 1 3 3 1 3 0 1 3 1 1 3 0 3 0 3 2 2 0 3 3 1 3 2 1 2 3 2 2 2 3 2 1 0
 1 3 2 2 1 2 3 3 3 0 0 0 2 1 2 3 1 2 2 1 0 3 3 3 0 3 1 1 2 1 3 2 2 3 2 3 3
 0 0 1 3 3 0 0 1 0 0 3 2 2 1 1 1 1 0 2 1 3 2 3 3 3 3 2 0 1 1 2 1 3 1 3 0 0
 2 0 1 1 1 1 3 0 0 3 1 3 2 1 3 1 2 3 3 2 1 0 3 1 2 3 3 0 2 2 3 0 2 1 0 1 2
 1 2 0 3 3 1 1 0 2 3 0 1 2 2 0 3 3 3 1 2 3 3 3 0 0 0 2 3 3 0 0 1 3 1 3 3 3
 0 0 2 3 3 1 0 2 0 0 0 3 2 0 2 2 1 1 0 2 3 3 0 0 1 3 3 2 3 0 3 1 1 0 2 3 3
 2 0 0 1 2 3 2 2 3 2 1 0 3 3 2 1 3 2 2 2 1 0 2 2 1 0 0 2 2 2 2 0 1 3 0 1 2
 3 0 2 0]

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
features_train=sc.fit_transform(features_train)
features_test=sc.fit_transform(features_test)
print(features)
print(target)

[[8.420e+02 0.000e+00 2.200e+00 ... 0.000e+00 0.000e+00 1.000e+00]
 [1.021e+03 1.000e+00 5.000e-01 ... 1.000e+00 1.000e+00 0.000e+00]
 [5.630e+02 1.000e+00 5.000e-01 ... 1.000e+00 1.000e+00 0.000e+00]
 ...
 [1.911e+03 0.000e+00 9.000e-01 ... 1.000e+00 1.000e+00 0.000e+00]
 [1.512e+03 0.000e+00 9.000e-01 ... 1.000e+00 1.000e+00 1.000e+00]
 [5.100e+02 1.000e+00 2.000e+00 ... 1.000e+00 1.000e+00 1.000e+00]]
[1 2 2 ... 3 0 3]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
regressor=RandomForestClassifier(max_depth=8)

In [ ]:
regressor.fit(features_train,target_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=8, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred = regressor.predict(features_test)

In [ ]:
print(y_pred)
print(target_test)

[3 0 2 1 2 0 0 2 3 1 0 3 0 2 3 0 3 2 2 1 0 0 3 1 1 2 3 1 3 1 1 0 1 0 2 3 0
 0 3 3 2 1 3 2 1 3 0 1 3 1 1 3 0 3 0 2 2 1 0 3 3 1 3 2 1 2 3 2 1 2 3 2 1 0
 0 3 2 1 1 1 3 3 3 0 0 0 2 0 1 3 1 2 1 1 0 2 2 3 0 3 1 1 2 1 3 1 2 3 2 3 2
 0 0 1 2 3 0 0 0 0 0 3 2 2 1 1 1 1 0 2 1 3 2 3 3 3 3 1 0 1 1 2 1 3 0 3 0 0
 2 0 1 1 1 1 3 0 1 3 1 3 2 1 3 1 2 3 3 2 1 0 3 1 2 2 3 0 1 2 3 0 2 1 0 1 2
 1 2 0 2 3 1 1 0 2 2 0 1 3 1 0 3 3 2 1 1 3 2 3 0 0 0 1 3 3 0 0 0 3 1 3 3 3
 0 0 2 2 3 1 0 2 0 0 0 3 2 0 2 2 1 1 0 2 3 3 0 0 1 3 3 1 3 0 3 1 1 0 1 3 2
 1 0 0 1 2 3 2 2 3 1 1 0 3 3 1 1 3 2 2 2 1 0 2 1 1 0 0 2 2 2 2 0 1 2 0 1 2
 3 0 2 0]
[3 0 2 2 2 0 0 3 3 1 1 3 0 2 3 0 3 2 2 1 0 0 3 1 2 2 3 1 3 1 1 0 2 0 1 3 0
 0 3 3 3 1 3 3 1 3 0 1 3 1 1 3 0 3 0 3 2 2 0 3 3 1 3 2 1 2 3 2 2 2 3 2 1 0
 1 3 2 2 1 2 3 3 3 0 0 0 2 1 2 3 1 2 2 1 0 3 3 3 0 3 1 1 2 1 3 2 2 3 2 3 3
 0 0 1 3 3 0 0 1 0 0 3 2 2 1 1 1 1 0 2 1 3 2 3 3 3 3 2 0 1 1 2 1 3 1 3 0 0
 2 0 1 1 1 1 3 0 0 3 1 3 2 1 3 1 2 3 3 2 1 0 3 1 2 3 3 0 2 2 3 0 2 1 0 1 2
 1 2 0 3 3 1 1 0 2 3 0 1 2 2 0 3 3 3 1 2 3 3 3 0 0 0 2 3 3 0 0 1 3 1 3 3 3
 0 0 2 3 3 1 0 2 0 0 0 3 2 0 2 2 1 1 0 2 3 3 0 0 1 3 3 2 3 0 3 1 1 0 2 3 3
 2 0 0 1 2 3 2 2 3 2 1 0 3 3 2 1 3 2 2 2 1 0 2 2 1 0 0 2 2 2 2 0 1 3 0 1 2
 3 0 2 0]

In [ ]:
a=int(input("Write Battery power value"))
b=int(input("Write blue(as 1 or 0) value"))
c=int(input("Write clock speed value"))
d=int(input("Write dual sim (as 0 or 1) Value"))
e=int(input("Write fc value"))
f=int(input("Write four_g(as 1 or 0) value"))
g=int(input("Write int memory value"))
h=int(input("Write m dep value"))
i=int(input("Write mobile weight value"))
j=int(input("Write n cores value"))
k=int(input("Write pc Value"))
l=int(input("Write px_height value"))
m=int(input("Write px_width value"))
n=int(input("Write ram value"))
o=int(input("Write sc_h value"))
p=int(input("Write sc_w value"))
q=int(input("Write talk_time value"))
r=int(input("Write three_g Value"))
s=int(input("Write touch screen (as 0 or 1) value"))
t=int(input("Write wifi (as 1 or 0) value"))

Write Battery power value12
Write blue(as 1 or 0) value1
Write clock speed value3
Write dual sim (as 0 or 1) Value0
Write fc value3
Write four_g(as 1 or 0) value1
Write int memory value864
Write m dep value38
Write mobile weight value684
Write n cores value9
Write pc Value0384
Write px_height value87
Write px_width value23
Write ram value947385
Write sc_h value28
Write sc_w value32904
Write talk_time value83
Write three_g Value9
Write touch screen (as 0 or 1) value1
Write wifi (as 1 or 0) value0

In [ ]:
t1=sc.transform([[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]])
pt1=regressor.predict(t1)
pt1

array([2])